.carBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    width: 150px;
    margin: 10px;
    border: 2px solid cornflowerblue;
    border-radius: 8px;
}

.text h4 {
    margin: 10px 0;
}

.buttons {
    width: 100%;
}

.carBlock .delete {
    width: 50%;
    height: 25px;
    border-radius: 6px;
}

.carBlock .update {
    width: 50%;
    height: 25px;
    border-radius: 6px;
}

