.launch {
    width: 220px;
    border: 2px solid blue;
    padding: 8px;
}

.launch img {width: 100%;}

.launches {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 15px;
}