.usersInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.usersList {
    display: flex;
    width: 65%;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;
}
.userBlock {
    width: 250px;
    border: 2px solid chocolate;
    border-radius: 8px;
    padding: 8px;
}
.userBlock h3, .userBlock h5 {margin: 4px 16px}

.userDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.userDetail button {background: orange; font-size: 20px; padding: 15px; border-radius: 10px}

.userPosts {
    margin: 24px;
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

.postBlock {
    width: 200px;
    border: 2px solid aqua;
    padding: 8px;
    border-radius: 8px;
}